<button (click)="removeData()">Remove Data</button>
<input type="file" (change)="onFileChange($event)" />

<br>
<br>
<form [formGroup]="form2" >
  <select  multiple  formControlName="multiSelect">
  <option selected>Select Skills</option>
 <option  *ngFor="let skill of listSkills" [ngValue]="skill">{{skill}}</option>
</select>
<select  multiple  formControlName="formInput2">
  <option selected>Select  Date</option>
 <option  *ngFor="let skill of listDate" [ngValue]="skill">{{skill}}</option>
</select>
<select  multiple  formControlName="languages">
  <option selected>Select  Languages</option>
 <option  *ngFor="let skill of listlanguage" [ngValue]="skill">{{skill}}</option>
</select>
	<p style="color:red"> {{this.form2.value.languages}}</p>

<br>

<div style="text-align: right; ">
  <button  (click)="exportTableToExcel('customers', 'members-data')">Export Table Data To Excel File</button>
</div>
	<button (click)="onSubmit2()">Submit</button>

<br>

	<table id="customers">
		<th>
			Sum hold Time
		</th>
		<th>
			Sum callsonhold
		</th>
		<th>
			Sum Handled Time
		</th>
		<th>
			Sum Handled Calls
		</th>
		<th>
			Average Hold Time
		</th>
		<th>
			Average Handle Time AHT
		</th>
		<tr>
			<td>
				<p style="color:red"> {{this.SumholdTime}}</p>
			</td>
			<td>
				<p style="color:red"> {{this.Sumcallsonhold}}</p>
			</td>
			<td>
				<p style="color:red">{{this.sumhandleTimeFormat}}</p>
			</td>
			<td>
				<p style="color:red"> {{this.SumHundle}}</p>
			</td>
			<td>
				<p style="color:red"> {{this.AverageHoldTim}}</p>
			</td>
			<td>
				<p style="color:red"> {{this.AverageAHT}}</p>
			</td>
		</tr>


	</table>
<br>


  <input type="text" id="myInput"  (keyup)="myFunction($event)"placeholder="Search for Skills.." title="Type in a name">

<table id="customers2">

 <th>
		Result  {{listFinal.length}}
		</th>
<tr *ngFor="let item of listFinal">
     <td>{{item}}</td>
</tr>
</table>

<div style="text-align: right; ">
 <button (click)="submitAfetFilter()">submit after Filter </button>
</div>
</form>
