
   <button (click)="removeData()">Remove Data</button>
  <input type="file" (change)="onFileChange($event)" />
 
<br>
<br>
<form [formGroup]="form2" (ngSubmit)="onSubmit2()">
 
 
  <input id="input2" type="text" 
    formControlName="formInput3">
<br>
    <input id="input2" type="text" 
    formControlName="formInput2">

  <button type="submit">Submit</button><br>
Sum hold Time  =  <p style="color:red"> {{this.SumholdTime}}</p><br>
Sum callsonhold  = <p style="color:red"> {{this.Sumcallsonhold}} </p><br>
Sum Handled Time  = <p style="color:red">{{this.sumhandleTimeFormat}} </p><br>
Sum Handled Calls = <p style="color:red"> {{this.SumHundle}} </p> <br>

Average Hold Time = <p style="color:red"> {{this.AverageHoldTim}} </p><br>
Average Hundle Time AHT =<p style="color:red"> {{this.AverageAHT}} </p> <br>


</form>
